/* CSS Reset */
body {
    font-family: 'Hubballi', sans-serif;
    font-family: 'Kalnia', serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto Slab', serif;
    margin: 0px;
    padding: 0px;
    background: url('training-828726_1920.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.left {
    display: inline-block;
    /* border: 2px solid red; */
    position: absolute;
    left: 18px;
    top: 0px;

}

.left img {
    width: 101px;
    filter: invert(100%);
    padding: 0px 1px;
}

.left div {
    line-height: 0px;
    font-size: 17px;
    text-align: center;
    padding: 0px 0px;
    margin-top: -15px;
    
}


.mid {
    display: block;
    width: 33%;
    margin: 29px auto;
    /* border: 2px solid rgb(10, 172, 53); */
}

.right {
    position: absolute;
    right: 34px;
    top: 16px;
    display: inline-block;
    /* border: 2px solid rgb(97,104,29); */
}

.navbar {
    display: inline-block;
}

.navbar li {
    display: inline-block;
    font-size: 15px;

}

.navbar li a {
    text-decoration: none;
    color: white;
    padding: 34px 15px;

}

.navbar li a:hover {
    text-decoration: double;
    color: rgb(60, 41, 143);
    font-weight: 50px;
    text-decoration-color: rgb(31, 124, 245);
}

.btn {
    font-family: 'Hubballi', sans-serif;
    font-family: 'Kalnia', serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto Slab', serif;
    margin: 0px 9px;
    color: white;
    background-color: black;
    padding: 4px 14px;
    border: 2px solid gray; 
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(96, 104, 96);
}

.container {
    border: 2px solid rgb(244, 245, 244);
    margin: 59px 348px;
    padding: 17px 168px;
    border-radius: 12px;
    width: 30%;
    display: inline-block;
}

.form-group input {
    font-family: 'Hubballi', sans-serif;
    font-family: 'Kalnia', serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto Slab', serif;
    text-align: center;
    display: block;
    width: 222px;
    padding: 1px;
    margin: 7px 112px;
    border: 3px solid rgb(11, 11, 11);
    border-radius: 2px;
    font-size: 15px;
}

.container h1 {
    text-align: center;
}

.container button {
    display: block;
    width: 25%;
    margin: 20px auto;
}
footer div{
    text-align: center;
    display: block;
    font-size: 20px;
}
